.bp-gm-group-members {
	width: 500px;
	float: left;
}

.bp-gm-add-members {
	width: 250px;
	float: left;
}

th.bp-gm-group-id-header, th.bp-gm-group-id {
	width: 80px;
}

td.bp-gm-avatar {
	width: 80px;
	padding: 5px 10px;
}